DATABASE_URL=DATABASE_URL=postgresql+psycopg2://postgres:TU_CLAVE@TU-ENDPOINT-RDS.us-east-1.rds.amazonaws.com:5432/matiasvideos
JWT_SECRET=pon-aqui-una-frase-larga-y-secreta
AWS_REGION=us-east-1
S3_VIDEOS_BUCKET=matias-videos-videos
S3_THUMBS_BUCKET=matias-videos-miniaturas
CORS_ORIGINS=*